.background
  width: 100vw
  height: 100%
  background: #BBD2C5
  background: linear-gradient(to right, #292E49, #536976, #BBD2C5)
  background: url('../../assets/images/background/welcome-big.jpeg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center

.container
  width: 100%
  min-height: 100vh
  padding: 0 24px
  backdrop-filter: blur(8px) brightness(0.5)
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  
.content
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%
  padding: 16px 0
  margin: 56px 0

.title
  font-family: 'Monoton', cursive
  text-align: center
  font-size: 4rem
  word-spacing: .2rem

.slogan
  font-family: 'Vampiro One', cursive
  text-align: center
  font-size: 2rem
  text-transform: uppercase
